@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');

html {
    scroll-behavior: smooth;
  }
  
body{
    font-family: "Lato", sans-serif;
}

.fromRight { 
    animation: fromright 0.5s; 
} 
  
@keyframes fromright { 
    0% { 
        transform: translateX(100%); 
    } 
    
    100% { 
        transform: translateX(0); 
    } 
} 

.toRight { 
    animation: toright 0.5s; 
} 
  
@keyframes toright { 
    0% { 
        transform: translateX(0); 
    } 
    
    100% { 
        transform: translateX(100%); 
    } 
} 

.remove {
    opacity: 0;
    filter: blur(20px);
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.from-bot{
    transform: translateY(20%);
}

.from-left{
    transform: translateX(-40%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0%);
}

.from-left:nth-child(2){
    transition-delay: 200ms;
}
.from-left:nth-child(3){
    transition-delay: 300ms;
}
.from-left:nth-child(4){
    transition-delay: 400ms;
}
.from-left:nth-child(5){
    transition-delay: 500ms;
}
.from-left:nth-child(6){
    transition-delay: 600ms;
}
.from-left:nth-child(7){
    transition-delay: 700ms;
}
.from-left:nth-child(8){
    transition-delay: 800ms;
}
.from-left:nth-child(9){
    transition-delay: 900ms;
}
.from-left:nth-child(10){
    transition-delay: 1000ms;
}
.from-left:nth-child(11){
    transition-delay: 1100ms;
}
.from-left:nth-child(12){
    transition-delay: 1200ms;
}
.from-left:nth-child(13){
    transition-delay: 1300ms;
}

@media screen and (max-width: 768px) {
    .remove {
        transition: none;
    }
  }